
/*--------------------------------*/
#divsearch {
    padding-top: 3%;
    padding-left: 60%;
}

form {
    padding-top: 3%;
    padding-left: 45%;
}


/*Tables Captions*/
caption {
    padding: 5% 0% 5% 0%;
    font-size: 2rem;
    font-weight: bold;
}

table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 120%;
}

#dialing table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}



th {
    height: auto;
    text-align: left;
}

th, th:hover {
    background-color: #f7f7f7;
}

td {
    text-align: left;
    height: auto;
}

tr:hover {
    background-color: #6FC4D5;
    /*Borders*/
    border-radius: 3%;
    -moz-border-radius: 3%;
    -webkit-border-radius: 3%;
    border: 0% solid #000;
    width: auto;
}
